$colors: (
  primary: (
    40: hsl(212, 100%, 40%),
    50: hsl(212, 100%, 50%),
    60: hsl(212, 100%, 60%),
    70: hsl(212, 100%, 70%),
    80: hsl(212, 100%, 80%),
  ),
  secondary: (
    40: hsl(219, 92%, 40%),
    50: hsl(219, 92%, 50%),
    60: hsl(219, 92%, 60%),
    70: hsl(219, 92%, 70%),
    80: hsl(219, 92%, 80%),
  ),
  tertiary: (
    40: hsl(238, 59%, 20%),
    50: hsl(238, 59%, 30%),
    60: hsl(238, 59%, 40%),
    70: hsl(238, 59%, 50%),
    80: hsl(238, 59%, 60%),
  ),
  quaternary: (
    40: hsl(223, 30%, 10%),
    50: hsl(238, 59%, 15%),
    60: hsl(238, 59%, 20%),
    70: hsl(238, 59%, 25%),
    80: hsl(238, 59%, 30%),
  ),
);
