$colors: (
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  secondary: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 66%, 30%),
    500: hsl(176, 66%, 20%),
  ),
);
