@use 'abstracts';
@use 'base';
@use 'utilities';
@use 'components';
@use 'layouts';
@use 'pages';

.transition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;

  &-element {
    width: 200px;
    height: 200px;
    background: #27ae60;
    margin-left: 10px;
    border-radius: 10%;
    animation-name: fade-out;
    animation-duration: 2s;

    &:nth-child(1) {
      transition: transform 2s ease-in 1s;

      &:hover {
        transform: scale(1.2) rotate(360deg);
      }
    }
  }
}

@keyframes fade-out{
  0%{
    margin-left: -200px;
    opacity: 0;
  }

  25%{
    opacity: 0.25;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    margin-left: 10px;
    opacity: 1;
  }
}

.icons {
  display: flex;

  .icon-element {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
      .chevron{
        transform: rotate(-45deg);
      }
    }

    .chevron {
      width: 7px;
      height: 7px;
      margin-left: 5px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      transition: all 0.3s linear;
      transform: rotate(45deg);
    }
  }
}
